canvas{
  position:fixed;
  margin:0;
  padding:0;
}
header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:40px;
  background: rgba(90, 90, 90, 0.7);
  opacity:0.85;
  border-bottom:4px solid #101010;
  z-index: 91;
}
.moldeofile{
  float:left;
  width:50%;
  height:21px;
  background:#a6aab0;
  margin:7px 0 0 10px;
  opacity:0.8;
  padding:2px 0 0 2px;
  border:1px solid #a6aab0;
  text-overflow: clip;
  color:#333;
  font-family: monospace;
  font-size:14px;
}
.moldeofile:hover{
  background:#c5cfdc;
  border:1px solid #202020;
  color:#010101;
}
.moldeoicon{
  background-image: url('../../assets/data/moldeo-white.svg');
  background-size: 90%;
  background-repeat:   no-repeat;
  background-position: center center;
  width:70px;
  height:40px;
  float:left;
}
.moldeobutton{
  position:relative;
  margin-right:10px;
  top:5px;
  right:0;
  width:40px;
  height:30px;
  background:#ccc;
  color:#222;
  border:2px solid #202020;
  font-weight: bold;
  font-size:12px;
  opacity:0.75;
  padding:0;
  float:right;
}
.moldeobutton:hover{
  background:#eee;
  opacity:0.95;
}
.moldeobutton:active{
  color:#eee;
  background:#222;
  opacity:0.95;
}
#moConfig{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  background:transparent;
}
/*- moWheel -*/
@keyframes moWheelMove {
    from {width:30px;height:30px;margin:40px 0 0 40px;}
    to {width:100px;height:100px;margin:0;}
}
.moWheelAni{
  animation: moWheelMove 0.5s;
  transition-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#moWheel{
  width:100px;
  height:100px;
  margin:0;
  position:fixed;
  border-radius: 50%;
  border:50px solid #666;
  background: rgba(200, 200, 200, 0.6);
  background-image: url('../../assets/data/moldeo.svg');
  background-size: 90%;
  background-repeat:   no-repeat;
  background-position: center center;
  z-index:999;
  top:0;
  left:0;
  opacity:0.8;
  user-select: none;
}
.moTree{
  background:#888;
  width:36px;
  height:36px;
  border-radius: 50%;
  position:absolute;
  opacity:0.75;
  text-align:center;
  font-family : inherit !important;
  font-size: 1em;
  border:0 solid;
  padding:0;
}
.moTree:hover{
  cursor: pointer;
  opacity: 0.95;
}
.moTree:active{

}
#moEffect{
  top:-45px;
  left:50%;
  margin-left:-20px;
  font-size:18px;
}
#moPreEffect{
  bottom:-20px;
  left:-25px;
}
#moPosEffect{
  bottom:-20px;
  right:-25px;
}
