<canvas #moCanvas id="moCanvas"></canvas>

<div #moWheel id="moWheel" class="moWheelAni" [hidden]="!moWheelDisplay">
  <button class="moTree" id="moEffect" (click)="newMOObject($event);">
    Ƒ
  </button>
  <button class="moTree" id="moPreEffect">
    preƑ
  </button>
  <button class="moTree" id="moPosEffect">
    posƑ
  </button>
</div>

<div id="moConfig" #moConfig (mouseenter)="moWheelDisplay=false;" style="transform:scale(1)">
</div>

<header (mouseenter)="moToolDisplay=false;">
  <div class="moldeoicon"></div>
  <div class="moldeofile">{{moFileName}}</div>
  <button class="moldeobutton" type="button" name="moButton" title="moldeo Viewer">moV</button>
  <button class="moldeobutton" type="button" name="auto" title="automatic">auto</button>
</header>
