<canvas #moCanvas (dblclick)="newMoObject($event)" (mouseenter)="moToolDisplay=false;"></canvas>
<div #moTool id="moTool" class="moToolAni" [hidden]="!moToolDisplay"></div>

<div id="moConfig" #moConfig (mouseenter)="moToolDisplay=false;">
  <mo-default [posX]="80" [posY]="80" [name]="'myObj1'"></mo-default>
  <mo-default [posX]="300" [posY]="80" [name]="'myObj2'"></mo-default>
</div>

<header (mouseenter)="moToolDisplay=false;">
  <div class="moldeoicon"></div>
  <div class="moldeofile">{{moFileName}}</div>
</header>
