<canvas #moCanvas id="moCanvas" (mouseenter)="moWheelDisplay=false;"></canvas>

<div #moWheel id="moWheel" [hidden]="!moWheelDisplay">
  <div class="circle moWheelAni">

  </div>
  <div class="objectSelect selectAni">
    <h3>PreEffects</h3>
    <ul>
      <li name="erase" (click)="newMOObject($event)">Erase</li>
      <li name="mirror" (click)="newMOObject($event)">Mirror</li>
      <li name="mirrorg" (click)="newMOObject($event)">MirrorG</li>
      <li name="mirrormorphing" (click)="newMOObject($event)">MirrorMorphing</li>
    </ul>
    <h3>Effects</h3>
    <ul>
      <li name="icon" (click)="newMOObject($event)">Icon</li>
      <li name="img" (click)="newMOObject($event)">Image</li>
      <li name="plane" (click)="newMOObject($event)">Plane</li>
      <li name="particle" (click)="newMOObject($event)">ParticlesSimple</li>
      <li name="camera" (click)="newMOObject($event)">Camera</li>
    </ul>
    <h3>PosEffects</h3>
    <ul>
    </ul>
  </div>
</div>

<div id="moConfig" #moConfig (mouseenter)="moWheelDisplay=false;">
</div>

<header (mouseenter)="moToolDisplay=false;">
  <div class="moldeoicon"></div>
  <div class="moldeofile">{{moFileName}}</div>
  <button class="moldeobutton" type="button" name="moButton" title="moldeo Viewer">moV</button>
  <button class="moldeobutton" type="button" name="auto" title="automatic">auto</button>
</header>
